<h1>Preview Overlay</h1>

<button (click)="showFilePreview()">Show Modal Preview</button>
<hr><br>


<app-connected>
    <div>Another popover</div>
</app-connected>
<hr><br>


<app-jeremy-sample></app-jeremy-sample>
<hr><br>


<button 
    (click)="showFirst()"
    class="popover-service"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    >Show popover from service</button>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    >
    <div class="template">Another popover</div>
</ng-template>

<button 
    class="popover-service"
    (click)="getApp()"
    #popoverLink>Show popover from service</button>
<ng-template
    #popoverContent>
    <div class="template">Another popover</div>
</ng-template>

<br><hr>
<div [ClPopoverTriggerFor]="popover">cl-popover</div>

<cl-popover #popover="clPopover">
    <h1>This is my cl-popover</h1>
</cl-popover>